body{
    font-family: "Sevillana";
    margin-top: 250px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebdbc2;
    background-image: url(bgl2.png) ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    


  }
  /*.bg{
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }*/
  .Login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 450px;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px  #462f1a;
    background-color: rgba(67%,58%,38%,0.4);
    backdrop-filter: blur(100px);
    
  }
 
  
  .anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  
  h2,label{
    font-weight: bold;
    color: black;
  }
  .int{
    margin-top:  10px;
    margin-bottom: 10px;
  }
  
  a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 10px;
    margin-left: 60px;
    cursor: pointer;
  }



  .password,.email{

    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #ebdbc2b9;
   }

.Forget:hover{
 color:green;



}





  label{

    font-size: 25px;
  }

  .logbtn{
    padding: 5px 10px;
  }
  .logbtn:hover{
    background-color: #ebdbc2;
  }

  
  